<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >


<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>stockInfo</servlet-name>
  	<display-name>stockInfo</display-name>
  	<description></description>
  	<servlet-class>servlet.stockInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>stock_table</servlet-name>
  	<display-name>stock_table</display-name>
  	<description></description>
  	<servlet-class>servlet.stock_table</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>lineChart</servlet-name>
  	<display-name>lineChart</display-name>
  	<description></description>
  	<servlet-class>servlet.lineChart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>marketInfo</servlet-name>
  	<display-name>marketInfo</display-name>
  	<description></description>
  	<servlet-class>servlet.marketInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>candlestick</servlet-name>
  	<display-name>candlestick</display-name>
  	<description></description>
  	<servlet-class>servlet.candlestick</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AxisServlet</servlet-name>
  	<display-name>Apache-Axis Servlet</display-name>
  	<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>Axis Admin Servlet</display-name>
  	<servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
  	<load-on-startup>100</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>servlet_KDJ</servlet-name>
  	<display-name>servlet_KDJ</display-name>
  	<description></description>
  	<servlet-class>servlet.servlet_KDJ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servlet_MACD</servlet-name>
  	<display-name>servlet_MACD</display-name>
  	<description></description>
  	<servlet-class>servlet.servlet_MACD</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servlet_RSI</servlet-name>
  	<display-name>servlet_RSI</display-name>
  	<description></description>
  	<servlet-class>servlet.servlet_RSI</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>compare</servlet-name>
  	<display-name>compare</display-name>
  	<description></description>
  	<servlet-class>servlet.compare</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>stock_search</servlet-name>
  	<display-name>stock_search</display-name>
  	<description></description>
  	<servlet-class>servlet.stock_search</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>rank</servlet-name>
  	<display-name>rank</display-name>
  	<description></description>
  	<servlet-class>servlet.rank</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servlet_ROLL</servlet-name>
  	<display-name>servlet_ROLL</display-name>
  	<description></description>
  	<servlet-class>servlet.servlet_ROLL</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>stockInfo</servlet-name>
  	<url-pattern>/stockInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>stock_table</servlet-name>
  	<url-pattern>/stock_table</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>lineChart</servlet-name>
  	<url-pattern>/lineChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>marketInfo</servlet-name>
  	<url-pattern>/marketInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>candlestick</servlet-name>
  	<url-pattern>/candlestick</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AxisServlet</servlet-name>
  	<url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AxisServlet</servlet-name>
  	<url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AxisServlet</servlet-name>
  	<url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servlet_KDJ</servlet-name>
  	<url-pattern>/servlet_KDJ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servlet_MACD</servlet-name>
  	<url-pattern>/servlet_MACD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servlet_RSI</servlet-name>
  	<url-pattern>/servlet_RSI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>compare</servlet-name>
  	<url-pattern>/compare</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>stock_search</servlet-name>
  	<url-pattern>/stock_search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rank</servlet-name>
  	<url-pattern>/rank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>servlet_ROLL</servlet-name>
  	<url-pattern>/servlet_ROLL</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	  <welcome-file>jsp/stocks.jsp</welcome-file>
	</welcome-file-list>
</web-app>
