/*
Skin Name: Nivo Slider theme1215
Skin URI: http://www.solagirl.net
Version: 1.0
Author: www.templatemonster.com
Author URI: http://www.templatemonster.com/demo/32824.html
*/
.theme-theme1215 {
	height:500px;
	overflow:hidden;
	position:relative;
	width:1032px;
	margin:0 auto 15px auto;
	background:#fff;
	box-shadow:0 0 5px rgba(0, 0, 0, .2);
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, .2);
}
.theme-theme1215 .indent {
    padding: 43px 0 0;
}
.theme-theme1215 .container {
		width:950px;
		margin: 0 auto;
}
.theme-theme1215 .nivoSlider {
	position:relative;
	width:670px;
	height:414px;
	background:url('../img/loading.gif') no-repeat 50% 50%;
}
.theme-theme1215 .nivoSlider img {
	border:3px;
	border-color:green;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-theme1215 .nivoSlider a {
	border:0;
	display:block;
}
.theme-theme1215 .nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
.theme-theme1215 .nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
.theme-theme1215 .nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
.theme-theme1215 .nivoSlider a {
	border:0;
	display:block;
}

.theme-theme1215 .nivo-controlNav {
	position:absolute;
	width:240px;
	height:414px;
	right:-285px;
	top:0;
	text-align:center;
}
.theme-theme1215 .nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
	display:inline-block !important;
	float:left;
	overflow:hidden;
	display:block;
	margin:0 8px 9px 0;
}
.theme-theme1215 .nivo-controlNav a:hover,
.theme-theme1215 .nivo-controlNav a.active {
	box-shadow:0 0 5px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, .5);
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, .5);
}
.theme-theme1215 .nivo-controlNav img {
	display:inline; /* Unhide the thumbnails */
	position:relative;
	float:left;
	border:1px solid #fff;
}
.theme-theme1215 .nivo-directionNav a {
	cursor:pointer;
	position:absolute;
	display:block;
	width:47px;
	height:41px;
	text-indent:-9999px;
	border:0;
	top:50%;
	margin-top:-27px;
	background:url('../img/direction_nav.png') no-repeat 0 0;
	box-shadow:0 0 4px rgba(0, 0, 0, .15);
	z-index:99;
}
.theme-theme1215 a.nivo-nextNav {
	right:-13px;
	background-position:-47px 0;
}
.theme-theme1215 a.nivo-nextNav:before {
	content:"";
	position:absolute;
	right:0;
	bottom:-7px;
	width:13px;
	height:7px;
	background:url('../img/next-bg.gif') no-repeat 0 0;
}

.theme-theme1215 a.nivo-nextNav:hover {
	background-position:-47px -41px;
}
.theme-theme1215 a.nivo-prevNav {
	left:-13px;
	background-position:0 0;
}
.theme-theme1215 a.nivo-prevNav:hover {
	background-position:0 -41px;
}
.theme-theme1215 a.nivo-prevNav:before {
	content:"";
	position:absolute;
	left:0;
	bottom:-7px;
	width:13px;
	height:7px;
	background:url('../img/prev-bg.gif') no-repeat 0 0;
}
.theme-theme1215 .nivo-caption {
	position:absolute;
	left:0;
	bottom:0;
	background:#262423;
	color:#acaaa9;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.theme-theme1215 .nivo-caption p {
	margin:0;
	padding:14px 120px 10px 20px;
	font-size:14px;
	line-height:16px;
}
.theme-theme1215 .nivo-caption span.title {
	font-size:18px;
	font-weight:normal;
	color:#fff;
	margin-bottom:.2em;
}
.theme-theme1215 .nivo-caption strong {
	color:#C1B5B2;
	font-weight:normal;
	font-size:18px;
}
.theme-theme1215  .nivo-html-caption {
    display:none;
}
.theme-theme1215 .nivo-caption .arrow-link {
    background: url("../img/slider-arrow.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 48px;
    position: absolute;
    right: 18px;
    top: 16px;
    width: 26px;
}
.theme-theme1215 .button {
	display:inline-block;
	padding:6px 17px 6px 23px;
	background:url('../img/arrow1.gif') no-repeat 14px 14px #262626;
	color:#fff;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
}
.theme-theme1215 .button:hover {
	background-color:#999;
}
.theme-theme1215 .slider-button {
	display:block !important;
	float:left;
	position:absolute;
	left:757px;
	bottom:70px;
	z-index:5;
}
